In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [2]:
import webbrowser

website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [7]:
 nfl_frame = pd.read_clipboard()

In [29]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [30]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [31]:
nfl_frame.ix[3]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                                        4
Team                 New England Patriots[b]
GP                                       900
Won                                       500
Lost                                      391
Tied                                        9
Pct.                                    0.561
First NFL Season                         1960
Division                             AFC East
Name: 3, dtype: object

In [32]:
nfl_frame['Stadium'] = "Live's Stadium"

In [33]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,Live's Stadium
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,Live's Stadium
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,Live's Stadium
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,Live's Stadium
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Live's Stadium

In [35]:
nfl_frame['Stadium'] = np.arange(5)

In [36]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,0
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,1
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,2
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,3
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,4

In [38]:
stadiums = Series(["Levi's Standium","AT&T Stadium"],index = [4,0])

In [40]:
stadiums

4    Levi's Standium
0       AT&T Stadium
dtype: object

In [42]:
nfl_frame['Stadium'] = stadiums

In [43]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,AT&T Stadium
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,NaN
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,NaN
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,NaN
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levi's Standium

In [45]:
del nfl_frame['Stadium']

KeyError: 'Stadium'

In [47]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [48]:
data = {'city':['SF','LA','LYC'],'Population':[837000,3880000,8400000]}

In [49]:
city_frame = DataFrame(data)

In [50]:
city_frame

  city  Population
0   SF      837000
1   LA     3880000
2  LYC     8400000